<!DOCTYPE html>

<!--[if IEMobile 7 ]> <html dir="ltr" lang="en-US"class="no-js iem7"> <![endif]-->
<!--[if lt IE 7 ]> <html dir="ltr" lang="en-US" class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7 ]>    <html dir="ltr" lang="en-US" class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8 ]>    <html dir="ltr" lang="en-US" class="no-js ie8 oldie"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html dir="ltr" lang="en-US" class="no-js"><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>String3 | {{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Meta for twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@historic_future">
        <meta name="twitter:creator" content="@historic_future">
        <meta name="twitter:title" content="String3">
        <meta name="twitter:description" content="String3 - Find out where your products come from">
        <meta name="twitter:image" content="http://getstring3.com/assets/img/screenshot-{{ page.title }}.png">

        <!-- Custom CSS -->
        <!--[if !((IE 6)|(IE 7))]><!--><link rel="stylesheet" href="/css/main.css"><!--<![endif]-->
        <!-- Modernizr TODO switch to production build -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
<p class="browsehappy" aria-hidden="true">You are using an <strong>outdated</strong> browser. The design has been hidden, so that you can still read the text. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

        <div class="wrapper">
            <div class="wrapper__inner">
              <header class="header">

                    <div class="logo-holder">
                        <a href="/" class="s3-logo-mark">
                        </a>
                    </div>
                    <p class="title"><a href="/">{{ site.name }}</a></p>

                <nav class="exposed">
                    <ul>
                        <li><a href="/signup" title="Sign up for String3 notifications">Get started</a></li>
                        <!--<li><a href="https://app.getstring3.com/account/login/" title="Log in to String3">Log in</a></li>-->
                    </ul>
                </nav>
                <a class="menu-toggle" href="#footer" title="View menu">Menu <i class="fa fa-navicon"></i></a>

              </header>

            <div id="scroll-area">
              <main role="main" class="main">
