/// this is solely for the compare plans page
$compare-padding: $b-scale;


th.sr-only {
	display:block !important;
	text-indent:-99999em;
	overflow:hidden;
}

.mobile-only {
  display:none;
}

@include gs-media(s,max){
  .desktop-only {
    display:none;
  }
  .mobile-only {
    display:block;
  }
}


.compare-plans {
  @include margin-bottom($a-scale-4);
  @include margin-top($a-scale-2);
  line-height:$small-line-height;
  p {
    line-height:$small-line-height;
  }
  th, td {
    width:20%;
    @include padding($compare-padding);
  }
  tr {
    border-bottom: 1px solid $grey10;
    background:none;
  }
  thead th {
    @extend .uppercase;
    font-style: normal;
  }
  tbody th {
    @extend .no-uppercase;
    @include font-size($a-scale);
  }
  .heading {
    @extend .no-uppercase;
    @include font-size($b-scale-2);
  }
  .expanded {
    border-bottom:none;
    th {
      border-bottom: 1px solid $grey10;
    }
    [class*=fa-caret]:before {
      content: "\f0d7";
    }
  }
  .toggle {
    @include transition($link-transition);
    [class*=fa-caret] {
      @include transition($link-transition);
    }
    &:hover, &:focus {
      color:$link-color-hover;
      @include transition($link-transition);
      cursor: pointer;
      [class*=fa-caret] {
        color:$link-color-hover;
        @include transition($link-transition);
      }
    }
  }
  tr:last-child {
    border-bottom:1px solid $grey10;
  }
  tr.no-border {
    border-bottom:none;
  }

  .fa-check {
    color:$success-color;
  }
  .fa-times {
    color:$grey10;
  }
  [class*=fa-caret] {
    color:$link-color;
  }
  .link {
    padding:0;
    overflow:hidden;
    a, a:visited {
      @include padding($compare-padding);
      border:0;
      display:block;
      @include faux-column();
    }
  }
  th.light {
    a, a:visited {
      border:none;
      color:$grey40;
      &:hover, &:focus {
        color:$link-color-hover;
      }
    }

  }
  .more-info {
    @include font-size($b-scale);
    color:$grey60;
    @include padding-top($a-scale);
    @include padding-bottom($a-scale-2);
  }
  .free{
    background:mix($turquoise, $off-white, 80%);
    color:$off-white;
    a, a:visited {

      background:mix($turquoise, $off-white, 80%);
      color:$off-white;
      &:hover, &:focus {
        background:mix($link-color-hover, $off-white, 80%);
      }
    }
  }
  .primary {
    background:$turquoise;
    color:$off-white;
    a, a:visited {

      background:$turquoise;
      color:$off-white;
      &:hover, &:focus {
        background:$link-color-hover;
      }
    }
  }
  .premium {
    background:$grey90;
    color:$off-white;
    a, a:visited {

      background:$grey90;
      color:$off-white;
      &:hover, &:focus {
        background:$link-color-hover;
      }
    }
  }
  .enterprise {
    background:mix($turquoise, $grey90, 80%);
    color:$off-white;
    a, a:visited {

      background:mix($turquoise, $grey90, 80%);
      color:$off-white;
      &:hover, &:focus {
        background:mix($link-color-hover, $grey90, 80%);
      }
    }
  }
  .super {
    a, a:visited {
      background:$yellow;
      color:$grey90;
      &:hover, &:focus {
        background:$link-color-hover;
        color:$off-white;
      }
    }
  }

}

.center {
  text-align:center;
}

//// mobile

.compare-block {
  @include margin-bottom($a-scale-3);
  @include margin-top($a-scale);
  h2 {
    @extend .uppercase;
    @include font-size($a-scale);
    @include margin-bottom($compare-padding);
  }
  .top-block {
    background:$turquoise;

    color:$off-white;
    .section {
      border-bottom:$off-white 1px solid;
      @include padding($compare-padding);
      padding-bottom:0;
      width:100%;
      @include box-sizing();
    }
    a.section, a:visited.section {
      color:$off-white;
      background:transparent;
      display:block;
      &:hover, &:focus {
        background:$link-color-hover;

      }
    }
    .toggle {
      &:before {
        color:$off-white;
      }
      &:hover:before {
        color:$link-color-hover;
      }
    }
    .expandable-single-item .more-info p{
      color:$off-white;
    }
  }
  .middle-block {
    border-left:1px solid $turquoise;
    border-right:1px solid $turquoise;
    @include padding($compare-padding);
    @include padding-top($a-scale-2);
    h3 {
      @include font-size($b-scale-2);
    }
  }
  .bottom-block {
    background:$turquoise;
    a, a:visited {
      background:transparent;
      color:$off-white;
      display:block;
      @include padding($a-scale-2);
      &:hover, &:focus {
        background:$link-color-hover;
      }
    }
  }
  &.free {
    $compare-block-color: mix($turquoise, $off-white, 80%);
    .top-block {
      background:$compare-block-color;
    }
    .middle-block {
      border-color:$compare-block-color;
    }
    .bottom-block {
      background:$compare-block-color;
    }
  }
  &.premium {
    $compare-block-color: $grey90;
    .top-block {
      background:$compare-block-color;
    }
    .middle-block {
      border-color:$compare-block-color;
    }
    .bottom-block {
      background:$compare-block-color;
    }
  }
  &.free {
    $compare-block-color: mix($turquoise, $grey90, 80%);
    .top-block {
      background:$compare-block-color;
    }
    .middle-block {
      border-color:$compare-block-color;
    }
    .bottom-block {
      background:$compare-block-color;
    }
  }
}


///////// Expandable list ////////////

.expandable-list {
	li {
		list-style:none;
		@include margin-top($a-scale-2);

		.toggle {
			position:relative;
			@include transition($link-transition);
			&:before {
				content: "\f0da";
				display: inline-block;
				color:$link-color;
			  font: normal normal normal 14px/1 FontAwesome;
			  font-size: inherit;
			  text-rendering: auto;
			  -webkit-font-smoothing: antialiased;
			  -moz-osx-font-smoothing: grayscale;
				position:absolute;
				@include left(-1 * $a-scale);
				@include top($a-scale--4);
				@include transition($link-transition);
			}
			&:hover, &:focus {
				color:$link-color-hover;
				@include transition($link-transition);
				cursor:pointer;
				&:before {
					color:$link-color-hover;
					@include transition($link-transition);
				}
			}
		}
		.show-hide {
			width:100%;
		}
		.more-info p{
			@include font-size($b-scale);
			color:$grey60;
			width:100%;
			margin-bottom:0;
		}
		&.expanded {
			.toggle:before {
				content: "\f0d7";
			}
		}
	}
}

.expandable-single-item {
	@include margin-left($a-scale);

	.toggle {
		position:relative;
		@include transition($link-transition);
		&:before {
			content: "\f0da";
			display: inline-block;
			color:$link-color;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			position:absolute;
			@include left(-1 * $a-scale);
			@include top($a-scale--4);
			@include transition($link-transition);
		}
		&:hover, &:focus {
			color:$link-color-hover;
			@include transition($link-transition);
			cursor:pointer;
			&:before {
				color:$link-color-hover;
				@include transition($link-transition);
			}
		}
	}
	.show-hide {
		width:100%;
	}
	.more-info p{
		@include font-size($b-scale);
		color:$grey60;
		width:100%;
		margin-bottom:0;
		@include padding-bottom($a-scale);
	}
	&.expanded {
		.toggle:before {
			content: "\f0d7";
		}
	}
}
