.example {
	padding-left:0;
	margin:0;
}
.example-step {
	&:nth-child(odd){
		@include box-shadow-standard();
		border-left:0;
		border-right:0;
	}
	position:relative;
	min-height:600px;
	@include gs-span(l,all);
	@include padding-top($a-scale-4);
	@include padding-bottom($a-scale-3);
	list-style:none;
	margin:0;
	.step-holder {
		background:$grey90;
		color:$off-white;
		min-height:96px;
		@include gs-span(l,1,8);
		@include margin-bottom($a-scale-3);
		@include padding($a-scale);
		@include padding-left($a-scale-5);
		@include box-sizing();
		position:relative;
		p {
			margin-bottom:0;
		}
		a {
			color:$lightturquoise;
			border-color:$lightturquoise;
		}
		.step-description {
			@include gs-span(l,1,5,(1,8));
		}
		.link {
			@include gs-span(l,6,8,(1,8));
		}
		&:before {
			content:"";
			display:block;
			background:url(#{$img-path}step1.svg) top left no-repeat;
			background-size:contain;
			@include width($a-scale-4);
			@include height($a-scale-4);
			position:absolute;
			@include top($a-scale);
			@include left($a-scale);
		}
	}
	@media only screen and (max-width:990px) {
		.step-holder {
			.large {
				@include font-size($a-scale);
			}
			.link {
				@include font-size($b-scale);
			}
		}
	}
	.question-elements, .enquiry-elements {
		@include gs-span(l,2,5);
		clear:none;
	}
	.question-element, .enquiry-element {
		@include box-sizing();
		@include box-shadow-standard();
		@include padding($a-scale);
		@include margin-bottom($a-scale);
		background:rgba($off-white,.8);
		position:relative;
		p {
			margin-bottom:0;
		}

	}
	.question-element {
		background: rgba($off-white,.8) url(#{$img-path}right-arrow--black.svg) 95% center no-repeat;
		background-size: auto 40px;
		@include padding-right($a-scale-3);
	}
	.enquiry-element.element1 {
		background: rgba($off-white,.8) url(#{$img-path}left-arrow--black.svg) 95% center no-repeat;
		background-size: auto 40px;
		@include padding-right($a-scale-3);
		@include margin-bottom($a-scale-2);
	}
	.enquiry-element.element2 {
		@include margin-bottom($a-scale-2);
	}
	.enquiry-element.element2:before, .enquiry-element.element3:before {
		content:"";
		display:block;
		width:40px;
		height:12px;
		background: url(#{$img-path}down-arrow--black.svg) center center no-repeat;
		background-size:100% auto;
		position:absolute;
		top:-20px;
		left:50%;
		margin-left:-20px;
	}
	.process-stage {
		width: 1% * gs-width(l,11,12);
		position:absolute;
		@include top($a-scale-4);
		right:0;
		h3 {
			@include font-size($b-scale);
		}
		ol {
			padding:0;
			margin:0;
			@include box-shadow-standard();
			background: rgba($off-white,0.8);
			li {
				list-style: none;
				margin:0;
				a, span {
				border-bottom:1px solid $grey5;
				color:$grey60;
				display:block;
				@include padding($b-scale);
				@include padding-left(2 * $b-scale);
				@include box-sizing();
				
				@include font-size($b-scale);
				line-height:$small-line-height;
				position:relative;
				&:before {
					content:"";
					@include width($b-scale);
					height:100%;
					top:0;
					left:0;
					bottom:0;
					background:$grey5;
					display:block;
					position:absolute;
					border:1px solid $grey10;
					@include transition($link-transition);
				}
				&:hover {
					color:$active-color;
					&:before {
						background-color: $active-color;
						border-color:darken($active-color,5);
						@include transition($link-transition);
					}
				}
				}
				&.active {
					
					a, span {color:$active-color;
					&:before {
						background-color: $active-color;
						border-color:darken($active-color,5);
					}}

				}
				&.done {
					a, span {color:$success-color;
					&:before {
						background-color: $success-color;
						border-color:darken($success-color,5);
					}
				&:hover {
					color:$active-color;
					&:before {
						background-color: $active-color;
						border-color:darken($active-color,5);
						@include transition($link-transition);
					}
				}}
				}
			}
		}
	}
	@media only screen and (max-width:900px) {
		.process-stage {
			width: 1% * gs-width(l,10,12);
		}
	}
	.s3-container {
		@include gs-span(l,6,7);
		clear:left;
		text-align:center;
		background:$off-white;
		@include padding-top($b-scale);
		h2 {
			@extend .uppercase;
			@include font-size($size-p);
			margin-bottom:0;
			color:$turquoise;
		}
	}

	.supplier-1 {
		@include gs-span(l,2,4);
		clear:left;
		
		@include margin-top($a-scale-4);
		.s3-container {
			@include gs-span(l,2,3,(2,4));
			padding-top:0;
			
		}
		.enquiry-element {
			@include gs-span(l,all);
			clear:left;
			@include margin-top($a-scale);
		}
	}
	.supplier-2 {
		@include gs-span(l,6,8);
		
		@include margin-top($a-scale-4);
		.s3-container {
			@include gs-span(l,6,7,(6,8));
			padding-top:0;

		}
		.enquiry-element {
			@include gs-span(l,all);
			clear:left;
			@include margin-top($a-scale);
		}
	}
	@media only screen and (max-width:990px) {
		.supplier-1 {
			@include gs-span(l,2,5);
			.s3-container {
				@include gs-span(l,2,3,(2,5));
			}
		}
		.supplier-2 {
			@include gs-span(l,6,9);
			.s3-container {
				@include gs-span(l,6,7,(6,9));
			}
		}
	}
	
	.results {
		@include gs-span(l,2,5);
	}

	.register-holder {
		@include gs-span(l,5,8);
		clear:left;
		text-align:center;
		background:rgba($off-white,0.8);
		@include box-shadow-standard();
		@include padding($a-scale);
		@include box-sizing();
	}
	@media only screen and (max-width:990px) {
		.register-holder {
			@include gs-span(l,4,9);
		}
	}

	.information-holder {
		@include gs-span(l,2,7);
		clear:left;
		@include box-shadow-standard();
		@include box-sizing();
		@include padding($a-scale);
		@include padding-bottom($a-scale - $margin-p);
		background:rgba($off-white,0.8);
		@include margin-top($a-scale-3);
		@include margin-bottom($a-scale);
	}

	@media only screen and (max-width:990px) {
		.information-holder {
			@include gs-span(l,2,8);
		}
	}


	// DOTTED LINES
	&:before {
		content:"";
		position:absolute;
		top:0;
		left:50%;
		width:1px;
		bottom:0px;
		border-left:1px dashed rgba($turquoise,0.5);
		display:block;
		z-index:$bottom;
	}


}

// Specific steps

.suppliers-step {
	&:after {
		content:"";
		position:absolute;
		top:220px;
		left:16%;
		width:34%;
		bottom:0px;
		border-left:1px dashed $lightturquoise;
		border-top:1px dashed $lightturquoise;
		border-left:1px dashed rgba($turquoise,0.5);
		border-top:1px dashed rgba($turquoise,0.5);
		display:block;
		z-index:$bottom;
	}
	.button--selected {
		display:block;
	}	
}

.map-step {
	background:$off-white;
}

.routing-step {
	&:after {
		content:"";
		position:absolute;
		top:220px;
		left:16%;
		width:18%;
		bottom:0px;
		border-right:1px dashed $lightturquoise;
		border-top:1px dashed $lightturquoise;
		border-right:1px dashed rgba($turquoise,0.5);
		border-top:1px dashed rgba($turquoise,0.5);
		display:block;
		z-index:$bottom;
	}
	.line-helper--1 {
		position:absolute;
		top:0px;
		left:16%;
		
		bottom:0px;
		border-left:1px dashed $lightturquoise;
		border-left:1px dashed rgba($turquoise,0.5);
		
		display:block;
		z-index:$bottom;
	}

	.line-helper--2 {
		position:absolute;
		top:220px;
		left:50%;
		width:17%;
		bottom:0px;
		border-right:1px dashed $lightturquoise;
		border-top:1px dashed $lightturquoise;
		border-right:1px dashed rgba($turquoise,0.5);
		border-top:1px dashed rgba($turquoise,0.5);
		display:block;
		z-index:$bottom;
	}
	.line-helper--3 {
		position:absolute;
		top:220px;
		left:67%;
		width:16.5%;
		bottom:0px;
		border-right:1px dashed $lightturquoise;
		border-top:1px dashed $lightturquoise;
		border-right:1px dashed rgba($turquoise,0.5);
		border-top:1px dashed rgba($turquoise,0.5);
		display:block;
		z-index:$bottom;
	}

	.s3-container {
		width:100%;
		margin:0;
		padding-top:0;
	}
	.suppliers {
		border:2px solid $pink;
		@include gs-span(l,2,11);
		clear:left;
		@include padding($a-scale);
		@include box-sizing();
		@include margin-top($a-scale-3);
		position:relative;
		i.fa {
			position:absolute;
			color:$pink;
			bottom:-30px;
			@include font-size($a-scale-3);
			left:50%;
			@include transform(rotate(-25deg));
			margin-left:-10px;
		}
	}
	.supplier-1 {
		@include gs-span(l,2,3,(2,11));
		margin-top:0;
		.s3-container {
			width:100%;
		}
	}
	.supplier-2 {
		@include gs-span(l,4,5,(2,11));
		margin-top:0;
			.s3-container {
			width:100%;
		}
	}
	.supplier-3 {
		@include gs-span(l,6,7,(2,11));

	}
	.supplier-4 {
		@include gs-span(l,8,9,(2,11));

	}
	.supplier-5 {
		@include gs-span(l,10,11,(2,11));

	}

	
}

.results-step {
	background: url(#{$img-path}reporting-step-bg.png) bottom right no-repeat;
	background-size:50% auto;
	.summary {
		background:$success-color;
		@include padding($b-scale);
		color:$off-white;
		@include margin-bottom($a-scale);
		p {
			margin-bottom:0;
		}
	}
	table {
		caption, thead {
			display:none;
		}
		.flag-icon {
			@include font-size($a-scale-2);
		}
	}
}

.register-step {
	background: url(#{$img-path}connections.png) center center no-repeat;
	background-size:cover;
}

// Reusable elements 
.button--selected {
	display:inline-block;
	@include box-shadow-standard();
	border:1px solid $active-color;
	@include border-radius(5%);
	@include padding($b-scale);
	color:$off-white;
	background:$active-color;
	
	@include margin-top($b-scale);
}

.button--deactivated {
	display:inline-block;
	
	@include border-radius(5%);
	@include padding($b-scale);
	color:$grey40;
	@include box-shadow-standard();
	border:1px solid $grey20;
}

.supplier-list {
	padding:0;
	li {
		list-style:none;
		background:$turquoise;
		color:$off-white;
		@include padding($b-scale);
		margin-bottom:0;
		@include margin-top($b-scale);
	}
}

.circle {
	display:inline-block;
	@include border-radius(50%);
	background:$off-white;
	@include width($a-scale-3);
	@include height($a-scale-3);
	text-align:center;
	vertical-align:middle;
	@include font-size($b-scale-2);
	line-height:$a-scale-3 / $b-scale-2;
	color:$success-color;
}

.next-holder {
		@include gs-span(l,all);
		clear:both;
		
		position:absolute;
		@include bottom($a-scale);
		left:0;
	}


// Step numbers

.step1 {
	.step-holder:before {
		background: url(#{$img-path}step1.png) top left no-repeat;
		
	}
}

.step2 {
	.step-holder:before {
		background: url(#{$img-path}step2.png) top left no-repeat;
		
	}
}

.step3 {
	.step-holder:before {
		background: url(#{$img-path}step3.png) top left no-repeat;
		
	}
}

.step4 {
	.step-holder:before {
		background: url(#{$img-path}step4.png) top left no-repeat;
		
	}
}

.step5 {
	.step-holder:before {
		background: url(#{$img-path}step5.png) top left no-repeat;
		
	}
}

.step6 {
	.step-holder:before {
		background: url(#{$img-path}step6.png) top left no-repeat;
		
	}
}

.step7 {
	.step-holder:before {
		background: url(#{$img-path}step7.png) top left no-repeat;
		
	}
}

.svg {
	.step1 {
		.step-holder:before {
			background: url(#{$img-path}step1.svg) top left no-repeat;
			background-size: contain; 
		}
	}
	.step2 {
		.step-holder:before {
			background: url(#{$img-path}step2.svg) top left no-repeat;
			background-size: contain; 
		}
	}

	.step3 {
		.step-holder:before {
			background: url(#{$img-path}step3.svg) top left no-repeat;
			background-size: contain; 
		}
	}

	.step4 {
		.step-holder:before {
			background: url(#{$img-path}step4.svg) top left no-repeat;
			background-size: contain; 
		}
	}

	.step5 {
		.step-holder:before {
			background: url(#{$img-path}step5.svg) top left no-repeat;
			background-size: contain; 
		}
	}

	.step6 {
		.step-holder:before {
			background: url(#{$img-path}step6.svg) top left no-repeat;
			background-size: contain; 
		}
	}

	.step7 {
		.step-holder:before {
			background: url(#{$img-path}step7.svg) top left no-repeat;
			background-size: contain; 
		}
	}
}


@include gs-media(s,max) {
	.example-step {
		min-height:400px;
		@include gs-span(s,all);
		.step-holder {
			@include gs-span(s,all);
			@include margin-bottom($a-scale);
			.large {
				@include font-size($a-scale);
			}
			.step-description {
			@include gs-span(s,all);
			@include padding-bottom($b-scale);
			
			}
			.link {
				@include gs-span(s,all);
				clear:left;
				@include font-size($b-scale);
			}
		}
		.process-stage {
			display:none;
		}
		.s3-container {
			@include gs-span(s,3,4);
			@include margin-bottom($a-scale);
		}
		.question-elements, .enquiry-elements {
			@include gs-span(s,2,5);
			clear:left;

		}
		.question-element {
			background: rgba($off-white,.8);
			@include padding-right($a-scale);
		}
		.supplier-1 {
			@include gs-span(s,1,3);
			@include margin-top($a-scale-2);
			@include gs-pad(s,padin);
		}
		.supplier-2 {
			@include gs-span(s,4,6);
			@include margin-top($a-scale-2);
			@include gs-pad(s,padin);
		}
		.information-holder {
			@include gs-span(s,2,5);
			@include font-size($b-scale);
			
		}
		.results {
			@include gs-span(s,2,5);
			clear:left;
		}
		.register-holder {
			@include gs-span(s,2,5);
		}

	}
	.suppliers-step {
		&:before {
			height:220px;
			top:0px;
			bottom:auto;
		}
		.line-helper--1 {
			position:absolute;
			top:220px;
			left:50%;
			width:16.5%;
			bottom:0px;
			border-right:1px dashed $lightturquoise;
			border-top:1px dashed $lightturquoise;
			border-right:1px dashed rgba($turquoise,0.5);
			border-top:1px dashed rgba($turquoise,0.5);
			display:block;
			z-index:$bottom;
		}
		.button--selected {
			display:block;
		}
	}
	.routing-step {
		.suppliers {
			width:92%;
			margin-left:4%;
			margin-right:4%;
			float:left;
			clear:left;
		}
		.supplier-1 {
			@include gs-span(s,1,1,(1,5));
			@include gs-pad(s,none);
			margin-top:0;
			.s3-container {
				@include gs-span(s,all);
			}
		}
		.supplier-2 {
			@include gs-span(s,2,2,(1,5));
			@include gs-pad(s,none);
			margin-top:0;
			.s3-container {
				@include gs-span(s,all);
			}
		}
		.supplier-3 {
			@include gs-span(s,3,3,(1,5));
			.s3-container {
				@include gs-span(s,all);
			}

		}
		.supplier-4 {
			@include gs-span(s,4,4,(1,5));
			.s3-container {
				@include gs-span(s,all);
			}
		}
		.supplier-5 {
			@include gs-span(s,5,5,(1,5));
			.s3-container {
				@include gs-span(s,all);
			}
		}
		&:after {
			content:"";
			position:absolute;
			top:250px;
			left:16%;
			width:16%;
			bottom:0px;
			border-right:1px dashed $lightturquoise;
			border-top:1px dashed $lightturquoise;
			border-right:1px dashed rgba($turquoise,0.5);
			border-top:1px dashed rgba($turquoise,0.5);
			display:block;
			z-index:$bottom;
		}
		.line-helper--1 {
			position:absolute;
			top:0;
			left:16%;
			
			bottom:0px;
			border-left:1px dashed $lightturquoise;
			border-left:1px dashed rgba($turquoise,0.5);
			
			display:block;
			z-index:$bottom;
		}
		&:before {
			position:absolute;
			top:0;
			left:66.5%;
			
			bottom:0px;
			border-left:1px dashed $lightturquoise;
			border-left:1px dashed rgba($turquoise,0.5);
			
			display:block;
			z-index:$bottom;
		}

		.line-helper--2 {
			position:absolute;
			top:250px;
			left:50%;
			width:17%;
			bottom:0px;
			border-left:1px dashed $lightturquoise;
			border-left:1px dashed rgba($turquoise,0.5);
			border-right:none;
			border-top:1px dashed $lightturquoise;
			border-top:1px dashed rgba($turquoise,0.5);
			display:block;
			z-index:$bottom;
		}
		.line-helper--3 {
			position:absolute;
			top:250px;
			left:67%;
			width:16.5%;
			bottom:0px;
			border-right:1px dashed $lightturquoise;
			border-top:1px dashed $lightturquoise;
			border-right:1px dashed rgba($turquoise,0.5);
			border-top:1px dashed rgba($turquoise,0.5);
			display:block;
			z-index:$bottom;
		}
	}
}


/////// IE8 //////////
.oldie {
	.example-step {
		border-bottom:1px solid $grey10;
		&:before {
			border-left:1px dashed $lightturquoise;
		}
		.question-element, .enquiry-element, .register-holder, .information-holder, .process-stage ol {
			background:$off-white;
		}

	}
	.results-step {
		background: url(#{$img-path}reporting-step-bg--oldie.png) bottom right no-repeat;
		.s3-logo {
			background: url(#{$img-path}S3-logo--medium.png) center center no-repeat;
		}

	}
	.map-step {
		&:before {display:none;}
	}
	.register-step {
		background: url(#{$img-path}connections--oldie.png) center center no-repeat;
		&:before {display:none;}
	}

}
