.exposition {
	@include gs-span(l,all);
	clear:both;
	@include box-shadow-standard();
	border-left:0;
	border-right:0;
	@include padding-top($a-scale-4);
	background:url(#{$img-path}exposition.png) center 40% no-repeat;
	background-size:100% auto;

	.text-holder-a {
		@include gs-span(l,2,6);
	}
	.text-holder-b {
		@include gs-span(l,2,5);
		clear:left;
	}
	.text-holder-c {
		@include gs-span(l,6,11);
		clear:both;
		padding-top:10%;
	}
}

////// SVG ////////
.svg .exposition {
	background:url(#{$img-path}exposition.svg) center 30% no-repeat;
	background-size:60% auto;
}
///// Media queries /////
@media only screen and (max-width:1200px) {
	.svg .exposition {
		background-position:center 45%;
	}
}

@include gs-media(s,max) {
	.exposition {
		@include gs-span(s,all);
		background:none !important;
		.text-holder-a, .text-holder-b, .text-holder-c {
			@include gs-span(s,all);
			@include gs-pad(s,padinfull);
			clear:left;
		}
		.text-holder-c {
			padding-top:0;
		}
		.background-helper {
			@include gs-span(s,all);
			display:block;
			height:0;
			padding-bottom:60%;
			background:url(#{$img-path}exposition.svg) center center no-repeat;
			background-size:auto 100%;
			clear:left;
		}
	}
}
