.faqs {
	
	@include gs-span(l,all);
	.question-holder {
		@include gs-span(l,3,8);
		clear:left;
		position:relative;
		@include margin-bottom($a-scale-2);
		&:before {
			content:"q.";
			display:block;
			position:absolute;
			@include left(-1 * $a-scale-2);
			vertical-align: base;
			line-height: ($size-h2 * $heading-line-height) / $size-small;
			color:$grey40;
			@include font-size($b-scale);
			font-style:italic;
			@include margin-top($b-scale--4);
		}

	}
	.answer-holder {
		@include gs-span(l,5,10);
		clear:left;
		@include margin-bottom($a-scale-4);
		position:relative;
		&:before {
			content:"a.";
			display:block;
			position:absolute;
			@include left(-1 * $a-scale-2);
			vertical-align: base;
			line-height: ($size-p * $base-line-height) / $size-small;
			color:$grey40;
			@include font-size($b-scale);
			font-style:italic;
			
		}
	}
}
