//footer-layout
.footer {
	@include padding-top($a-scale-4);
	
	
	.primary {
		@include gs-span(l,3,5);
		.logo-holder {
			@include gs-span(l,3,3,(3,5));
		}
	}
	.secondary {
		@include gs-span(l,7,8);
	}
	.hf {
		@include gs-span(l,9,10);
		.logo-holder {
			@include width($a-scale-2);
			@include height($a-scale-2);
			display:inline-block;
		}
		text-align:right;
		@include font-size($b-scale);
	}

	.email {
		@include gs-span(l,all);
		clear:both;
		@include margin-top($a-scale-2);
		@include box-shadow-standard();
		border-left:none;
		border-right:none;
		@include padding-top($a-scale);
		@include padding-bottom($a-scale);
		text-align: center;
		.fa {
			color:$grey40;
		}
		a, a:visited {
			border:none;
		}
	}
}

.next-page--holder {
	@include gs-span(l,all);
	clear:both;
	text-align:right;
	position:relative;
	z-index:$middle;
	@include padding-top($a-scale-3);
	@include padding-bottom($a-scale-3);
	@include font-size($b-scale-2);
	@include box-shadow-standard();
	border-left:none;
	border-right:none;
	background:$off-white;
	.next-page--holder__inner {
		@include gs-span(l,2,11);
		a {
			border:none;
		}
	}
}

// common styles between footer and sidebar
.main-nav {
	li {
		clear:left;
		@include margin-bottom($b-scale-2);
	}
	a, a:visited {
		border-bottom:0;
		color:$text-color;
		position:relative;
		&:before {
				content: "\f054";
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				position:absolute;
				left:-20px;
				top:2px;
				opacity:0;
				@include transition(opacity 0.5s ease);
				
			}
		&:hover, &:focus {
			color:$link-color-hover;
			&:before {
				opacity:1;
				@include transition(opacity 0.5s ease);
			}
		}

	}
	.active {
		a, a:visited {
			color:$active-color;
			position:relative;
			&:before {
				
				opacity:1;

			}
		}
	}
	.primary {
		padding-left:0;
	}
	.secondary {
		padding-left:0;
		li {
			@include font-size($b-scale);
		}
		
	}
	.get-started {
		text-align:center;
		a, a:visited {
			background:$link-color;
			display:block;
			@include padding($b-scale);
			@include box-shadow-standard();
			@extend .uppercase;
			color:$off-white;
			@include font-size($b-scale);
			@include margin-top($a-scale-2);
			&:hover, &:focus {
				background-color:$link-color-hover;
			}
			&:before {
				display:none;
			}
		}

	}
	.logo-holder {
		@include margin-bottom($a-scale-2);
	}
	.login {
		@extend .uppercase;
		@include font-size($b-scale);
		a, a:visited {
			color:$link-color;
		}
	}
}

.oldie {
	.main-nav {
		a, a:visited {
			&:before {
				display:none;
			}
			&:hover:before {
				display:block;
			}
		}
	}
}

@include gs-media(s,max) {
	.footer {
		.primary {
			@include gs-span(s,2,5);
			
			clear:left;
			.logo-holder {
				@include gs-span(s,1,2);
				clear:left;
			}
		}
		.secondary {
			@include gs-span(s,2,5);
			clear:left;
		}
		.hf {
			@include gs-span(s,2,5);
			clear:left;
			
		}
		.email {
			@include gs-span(s,all);
			clear:both;
		}
	}
	.next-page--holder {
		@include gs-span(s,all);
		.next-page--holder__inner{
			@include gs-span(s,all);
			@include gs-pad(s,padinfull);
		}
	}


}
