// new homepage styling - exluding the introduction



.about {
  @include gs-span(l,all);
  clear:left;
  position:relative;
  &:before, &:after { // decorative logos
    content:"";
    display:block;
    background:url(#{$img-path}s3-images-1--oldie.png) center top no-repeat;
    width:300px;
    padding-bottom:300px;
    position:absolute;
    left:-150px;
    top:-60px;
    background-size:contain;
    z-index:$middle;
  }
  &:after {
    background-image:url(#{$img-path}s3-images-2--oldie.png);
    width:400px;
    padding-bottom:400px;
    right:-250px;
    bottom:-150px;
    top:auto;
    left:auto;
  }
  .inner {
    @include gs-span(l,3,10);
    @include margin-top($a-scale-4);
    margin-bottom:7%;
  }
}
// larger screens about section
@media only screen and (min-width:1300px) {
  .about {
    &:before {
      width:400px;
      padding-bottom:400px;
      background-image:url(#{$img-path}s3-images-1.png);
    }
    &:after {
      width:600px;
      padding-bottom:600px;
      bottom:-200px;
      background-image:url(#{$img-path}s3-images-2.png);
    }
    .inner {
      @include gs-span(l,4,9);
    }
  }
}

// smaller screens about section
@media only screen and (max-width:900px) {
  .about {
    &:before {
      width:200px;
      padding-bottom:200px;
      left:-70px;
    }
    &:after {
      width:300px;
      padding-bottom:300px;
      right:-130px;
    }
  }
}

/// mobile about
@include gs-media(s,max) {
  .about {
    .inner {
      @include gs-span(s,all);
      @include gs-pad(s,padinfull);
    }
    &:before, &:after {
      display:none;
    }
  }
}

.promotion {
  @include gs-span(l,all);
  clear:left;
  background:mix($turquoise, $grey90, 60%);
  //background:$grey5;
  color:$off-white;
  position:relative;
  z-index:0;
  padding-bottom:5%;
  .inner {
    @include gs-span(l,2,8);
    @include padding-top($a-scale);
    @include padding-bottom($a-scale);
    .text-holder {
      @include gs-span(l,2,8,(2,8));
    }
    .button-holder {
      @include gs-span(l,2,6,(2,8));
      clear:left;
    }
  }
  &:before { // diagonal top http://jsfiddle.net/jme11/D9M2L/
    position: absolute;
    content:'';
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    -webkit-transform-origin: 97% 0;
    transform-origin: 97% 0;
    top: 0;
    left: -25%;
    z-index: -1;
    width: 150%;
    height: 75%;
    background: inherit;
  }
}

@include gs-media(s,max){
  .promotion {
    text-align:center;
    .inner {
      @include gs-span(s,all);
      @include gs-pad(s,padinfull);
      .text-holder {
        @include gs-span(s,all);
      }
      .button-holder {
        @include gs-span(s,2,5);
      }
    }
  }
}


.featured {
  @include gs-span(l,all);
  clear:left;
  background:$turquoise;
  color:$off-white;
  position:relative;
  &:before { // diagonal top http://jsfiddle.net/jme11/D9M2L/
    position: absolute;
    content:'';
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
    top: 0;
    left: -25%;
    z-index: 1;
    width: 150%;
    height: 75%;
    background: inherit;
  }
  &:after { // diagonal bottom http://jsfiddle.net/jme11/D9M2L/
    position: absolute;
    content:'';

    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    transform-origin: 3% 0;
    transform-origin: 3% 0;
    bottom: -5%;
    left: -25%;
    z-index: -1;
    width: 150%;
    height: 75%;
    background: inherit;

  }
  .inner {
    @include gs-span(l,2,11);
    @include margin-top($a-scale-4);
    p.large {line-height:$small-line-height;}
    position:relative;
    z-index:3;
    ul {
      padding:0;
      margin:0;
    }
    img {
      @include border-radius(50%);

      @include box-shadow-standard();
      border:2px solid $grey10;
      @include margin-bottom($a-scale);
      max-width:300px;
    }
    .featured-1 {
      @include gs-span(l,1,4);
      text-align:center;
    }
    .featured-2 {
      @include gs-span(l,5,8);
      text-align:center;
    }
    .featured-3 {
      @include gs-span(l,9,12);
      text-align:center;
    }
    .button-holder {
      @include gs-span(l,4,9,(2,11));
      clear:left;
    }
  }

}
// small screen features
@include gs-media(s,max) {
  .featured {
    .inner {
      @include gs-span(s,2,5);
      .featured-1, .featured-2, .featured-3 {
        @include gs-span(s,2,5,(2,5));
        clear:left;
        img {
          max-width:250px;
        }
      }
      .button-holder {
        @include gs-span(s,2,5,(2,5));
      }
    }
  }
}

/// USE section

.use {
  @include gs-span(l,all);
  clear:left;
  position:relative;
  margin-top:5%;
  &:before, &:after { // decorative logos
    content:"";
    display:block;
    background:url(#{$img-path}s3-decorative.png) center top no-repeat;
    width:300px;
    padding-bottom:300px;
    position:absolute;
    left:-150px;
    top:-30%;
    background-size:contain;
    z-index:$middle;
  }
  &:after {
    right:-150px;
    bottom:-60px;
    top:auto;
    left:auto;
  }
  .inner {
    @include gs-span(l,3,10);
    @include margin-top($a-scale-4);
    @include margin-bottom($a-scale-4);
    .button-holder {
      @include gs-span(l,3,7,(3,10));
      clear:left;
    }
  }
}
//small medium use section
@media only screen and (max-width: 900px) {

  .use {
    &:before, &:after {
      width:200px;
    }
    &:before {
      left:-100px;
    }
    &:after {
      right:-100px;
    }
  }


}

//small screen use section
@include gs-media(s,max) {
  .use {
    .inner {
      @include gs-span(s,all);
      @include gs-pad(s,padinfull);
      @include margin-top($a-scale-6);
    }
    &:before, &:after {
      display:none;
    }
  }
}
