// basic layout


.introduction {
	@include gs-span(l, all);
	position:relative;
	overflow:hidden;
	@include margin-top(-1 * $a-scale-5);
	@include padding-top($a-scale-5);
	.logo-holder {
		@include gs-span(l,3,5);
	}
	.intro-holder {
		@include gs-span(l,7,10);
		@include padding-top($a-scale-3);
	}
	@media only screen and (max-width:900px){
		.intro-holder {
			@include gs-span(l,7,11);
		}
	}


	.tri-1 {
		background: url(#{$img-path}triangle-1.png) no-repeat left top;
		background-size: contain;
		width:10%;
		height:0;
		padding-bottom:20%;
		display:block;
		position:absolute;
		top:0;
		left:0;
		
		
	}
	.tri-2 {
		background: url(#{$img-path}triangle-2.png) no-repeat left top;
		background-size: contain;
		width:10%;
		height:0;
		padding-bottom:12%;
		display:block;
		position:absolute;
		top:-10px;
		left:0;
		
		
	}
	.tri-3 {
		background: url(#{$img-path}triangle-3.png) no-repeat left top;
		background-size: contain;
		width:13%;
		height:0;
		padding-bottom:15%;
		display:block;
		position:absolute;
		top:-1%;
		left:3%;
		
		
	}
	.tri-4 {
		background: url(#{$img-path}triangle-4.png) no-repeat left top;
		background-size: contain;
		width:6%;
		height:0;
		padding-bottom:7%;
		display:block;
		position:absolute;
		top:15%;
		left:0;
		
		
	}
	.tri-5 {
		background: url(#{$img-path}triangle-5.png) no-repeat left top;
		background-size: contain;
		width:15%;
		height:0;
		padding-bottom:26%;
		display:block;
		position:absolute;
		top:25%;
		left:0%;
		
		
	}
	.tri-6 {
		background: url(#{$img-path}triangle-6.png) no-repeat right bottom;
		background-size: contain;
		width:6%;
		height:0;
		padding-bottom:7%;
		display:block;
		position:absolute;
		bottom:50%;
		right:0;
		
		
	}
	.tri-7 {
		background: url(#{$img-path}triangle-7.png) no-repeat right bottom;
		background-size: contain;
		width:15%;
		height:0;
		padding-bottom:26%;
		display:block;
		position:absolute;
		bottom:30%;
		right:0;
		
		
	}
	.tri-8 {
		background: url(#{$img-path}triangle-8.png) no-repeat right bottom;
		background-size: contain;
		width:11%;
		height:0;
		padding-bottom:19%;
		display:block;
		position:absolute;
		bottom:7%;
		right:0;
		
		
	}
	.tri-9 {
		background: url(#{$img-path}triangle-9.png) no-repeat right bottom;
		background-size: contain;
		width:15%;
		height:0;
		padding-bottom:18%;
		display:block;
		position:absolute;
		bottom:-3%;
		right:-5%;
		
		
	}
	.tri-10 {
		background: url(#{$img-path}triangle-10.png) no-repeat right bottom;
		background-size: contain;
		width:14%;
		height:0;
		padding-bottom:8%;
		display:block;
		position:absolute;
		bottom:0;
		right:0;
		
		
	}

	
	

}

////// with SVG ////////
.svg {
	.introduction {
		.tri-1 {
			background: url(#{$img-path}triangle-1.svg) no-repeat left top;
			background-size: contain;
			
		}
		.tri-2 {
			background: url(#{$img-path}triangle-2.svg) no-repeat left top;
			background-size: contain;
			
			
		}
		.tri-3 {
			background: url(#{$img-path}triangle-3.svg) no-repeat left top;
			background-size: contain;
			
		}
		.tri-4 {
			background: url(#{$img-path}triangle-4.svg) no-repeat left top;
			background-size: contain;
			
			
		}
		.tri-5 {
			background: url(#{$img-path}triangle-5.svg) no-repeat left top;
			background-size: contain;
			
			
			
		}
		.tri-6 {
			background: url(#{$img-path}triangle-6.svg) no-repeat right bottom;
			background-size: contain;
			
			
		}
		.tri-7 {
			background: url(#{$img-path}triangle-7.svg) no-repeat right bottom;
			background-size: contain;
			
			
		}
		.tri-8 {
			background: url(#{$img-path}triangle-8.svg) no-repeat right bottom;
			background-size: contain;
			
			
		}
		.tri-9 {
			background: url(#{$img-path}triangle-9.svg) no-repeat right bottom;
			background-size: contain;
			
		}
		.tri-10 {
			background: url(#{$img-path}triangle-10.svg) no-repeat right bottom;
			background-size: contain;
			
			
		}
	}
}

/// IE8 ////

.oldie {
	.introduction {
		.tri-1 {
			width:154px;
			height:268px;
		}
		.tri-2 {
			width:154px;
			height:139px;
		}
		.tri-3 {
			width:184px;
			height:111px;
		}
		.tri-4 {
			width:79px;
			height:93px;
		}
		.tri-5 {
			width:66px;
			height:290px;
		}
		.tri-6 {
			width:83px;
			height:96px;
		}
		.tri-7 {
			width:205px;
			height:357px;
		}
		.tri-8 {
			width:102px;
			height:237px;
		}
		.tri-9 {
			width:150px;
			height:174px;
		}
		.tri-10 {
			width:196px;
			height:177px;
		}
	}
}

//// STANDALONE ///

.find-out-holder {
		@include gs-span(l,4,9);
		text-align:center;
		clear:both;
		@include margin-top($a-scale-2);
		@include padding-top($a-scale);
		@include padding-bottom($a-scale-2);
		position:relative;
		z-index:$low;
			&:after {
			content:"";
			position:absolute;
			height:50px;
			left:50%;
			width:1px;
			bottom:0px;
			border-left:1px dashed $lightturquoise;
			border-left:1px dashed rgba($turquoise,0.5);
			display:block;
			z-index:$bottom;
		}
	}

.example-selector {
		position:relative;
		z-index:$secondlow;
		@include gs-span(l,all);
		clear:both;
		background:$turquoise;
		color:$off-white;
		text-align:center;
		@include padding-top($a-scale);
		@include padding-bottom($a-scale);
		.title-segment {
			@include gs-span(l,1,2);
			text-align:right;
		}
		.link-segment {
			@include gs-span(l,3,11);
			text-align:left;
			clear:left;
			@include padding-top($b-scale);
			p { 
				margin-bottom:0;
				line-height:$small-line-height;
				@include font-size($size-small);
			}
			a, a:visited {
				color:$off-white;
				border-color:$off-white;
				
				&:hover, &:focus {
					color:$text-color;
					border-color:$text-color;
				}
			}
		}
		
		h2 {
			@include font-size($size-p);
			display:inline-block;
			margin:0;
			@include padding-top($a-scale);
			line-height:$base-line-height;
		}
		@media only screen and (max-width:788px) {
			h2, .link-segment {
				padding-top:0;
			}
		}
		ul {
			padding-left:0;
			display:inline-block;
			@include gs-span(l,3,11);
			margin-bottom:0;
		}
		li {
			list-style:none;
			text-align:center;
			display:inline-block;
			margin-bottom:0;
			@include gs-span(l,3,5,(3,11));
			&:first-child {
				margin-left:0;
			}

			a {
				display:block;
				
				@include border-radius(5px);
				@include padding($a-scale);
				color:$off-white;
				@include min-width($a-scale-5);
				@include box-shadow-standard();
				border:1px solid $grey70;
				@include box-sizing();
				&:hover {
					background:$active-color;
					border-color:$active-color;
					color:$off-white;
				}
			}
			&.active span {
				display:block;
				@include border-radius(5px);
				@include padding($a-scale);
				color:$off-white;
				background:$active-color;
				@include min-width($a-scale-5);
				@include box-shadow-standard();
				border:1px solid $active-color;
				@include box-sizing();
			}
		}
		li+li {
			@include gs-span(l,6,8,(3,11));
		}
		li+li+li {
			@include gs-span(l,9,11,(3,11));
		}
	}

.down-arrow, .down-arrow:visited {
	background: url(#{$img-path}down-arrow.png) center center no-repeat;
	background-size:contain;
	@include width($a-scale-5);
	text-indent:-9999em;
	overflow:hidden;
	display:block;
	@include height($a-scale-2);
	margin-left:auto;
	margin-right:auto;
	border-bottom:0;
	&:hover {
		background: url(#{$img-path}down-arrow--hover.png) center center no-repeat;
		background-size:contain; 
	}
}

.svg .down-arrow, .svg .down-arrow:visited {
	background: url(#{$img-path}down-arrow.svg) center center no-repeat;
	background-size:contain;
	&:hover {
		background: url(#{$img-path}down-arrow--hover.svg) center center no-repeat;
		background-size:contain; 
	}
}

@include gs-media(s,max) {
	.introduction {
		@include gs-span(s,all);
		text-align:center;
		.logo-holder {
			@include gs-span(s,3,4);
		}
		.intro-holder {
			@include gs-span(s,2,5);
			clear:left;
		}
		
		
	}
	.find-out-holder {
			@include gs-span(s,2,5);
			clear:left;
		}
	.example-selector {
			@include gs-span(s,all);
			clear:left;
			.title-segment {
				@include gs-span(s,all);
				@include gs-pad(s, padinfull);
				text-align:left;

			}
			h2 {
				padding-top:0;
			}
			.link-segment {
				@include gs-span(s,all);
				@include gs-pad(s, padinfull);
				clear:left;
				@include padding-top($b-scale);
			}
			ul {
				@include gs-span(s,all);
				@include gs-pad(s, padinfull);
				clear:left;
				li {
					@include gs-span(s,1,2);
					@include box-sizing();
					a, &.active span {
						width:100%;
						@include box-sizing();
						@include padding-top($b-scale);
						@include padding-bottom($b-scale);
						padding-left:0;
						padding-right:0;
						min-width:0;
					}
				}
				li+li {
					@include gs-span(s,3,4);
				}
				li+li+li {
					@include gs-span(s,5,6);
				}

			}
		}
}