/// CSS for invitation page

.page-section:nth-child(odd) {
  @include box-shadow-standard();
  border-right:0;
  border-left:0;
}

.oldie .page-section {
  border-bottom:1px solid $grey10;
}

.invitation {
  @include gs-span(l,3,10);
  clear:left;
  background:url(#{$img-path}invite-envelope--open.png) top center no-repeat;
  background-size:100% auto;
  margin-top:-20%;
  text-align:center;
  @include padding-top($a-scale-4);
  padding-bottom:20%;
  .logo-holder {
    @include gs-span(l,6,7,(3,10));
  }
  .text-holder {
    @include gs-span(l,4,9,(3,10));
    @include padding-top($a-scale-3);
    clear:left;
  }
  .rsvp {
    @include margin-top($a-scale-2);
    a {
      display:block;
      border-bottom:0;
    }
    .text {
      display:block;
      @include font-size($b-scale-2);
    }
    i {
      @include font-size($a-scale-2);
    }
  }
}

.oldie .invitation {
  background:url(#{$img-path}invite-envelope--small.png) top center no-repeat;
}

.invite-section-1 {
  @include margin-top(-1 * $a-scale-5);
  @include padding-top($a-scale-5);
  padding-bottom:20%;
}

.invite-section-2 {
  padding-bottom:20%;
  text-align:right;
  .inner {
    margin-top:-20%;
    margin-bottom:0;
    img {
      @include margin-bottom($a-scale-2);
    }
  }

}

.invite-section-3 {
  padding-bottom:20%;
  .inner {
    margin-top:-20%;
    img {
      @include margin-bottom($a-scale-2);
    }
  }

}

.invite-section-5, .invite-section-6, .invite-section-7 {
  @include padding-top($a-scale-4);
  @include padding-bottom($a-scale-4);
}

///// Medium screens

@media only screen and (max-width:990px) {
  .invitation {
    @include gs-span(l,all);
    .logo-holder {
      @include gs-span(l,5,8);
    }
    .text-holder {
      @include gs-span(l,3,10);
    }
  }
}

///// Small screens

@include gs-media(s,max) {
  .invite-section-1, .invite-section-2, .invite-section-3 {
    text-align:center;
  }
  .invitation {
    @include gs-span(s,all);
    background-size:auto 120%;
    padding-bottom:50%;
    .logo-holder {
      @include gs-span(s,3,4);
    }
    .text-holder {
      @include gs-span(s,all);
      @include gs-pad(s,padinfull);
    }
  }
}
