

.free-trial {
	@include gs-span(l,3,10);
	border-top:1px solid $grey10;
	border-bottom:1px solid $grey10;
	clear:left;
	@include padding-top($a-scale);
	@include padding-bottom($a-scale);
	@include margin-bottom($a-scale-3);
	.icon-holder {
		@include gs-span(l,3,3,(3,10));
		color:$lightturquoise;
		@include font-size($b-scale-5);
		line-height:0.8;
	}
	.text-holder {
		@include gs-span(l,4,7,(3,10));
		@include padding-top($a-scale);
		p {
			margin-bottom:0;
		}
	}
	.button-holder {
		@include gs-span(l,8,10,(3,10));
		@include padding-top($a-scale);
	}
}

.standard .free-trial { // used on Register
	@include gs-span(l,3,8,(3,8));
	.icon-holder {
		@include gs-span(l,3,3,(3,8));
	}
	.text-holder {
		@include gs-span(l,4,8,(3,8));
	}
}

.free-trial.super-banner {
	@include gs-span(l,all);
	background:$yellow;
	color:$grey90;
	margin-bottom:0;
	@include box-shadow-standard();
	border:0;
	z-index:$middle;
	position:relative;
	.text-holder {
		@include gs-span(l,3,10);
		text-align:center;
	}
	.button-holder {
		@include gs-span(l,5,8);
		text-align:center;
		clear:left;
	}
	&.standard-right {
		@include gs-span(l,6,10);
		@include gs-pad(l,padin);
		@include margin-bottom($a-scale-2);
		clear:none;
		.text-holder {
			@include gs-span(l,6,10, (6,10));

		}
		.button-holder {
			@include gs-span(l,7,9, (6,10));


		}
	}
	&.dark {
		background:$grey90;
		color:$off-white;
		[class*=faux-button] {
			a, a:visited {
				color:$yellow;
				border-color:$yellow;
				&:hover {
					background-color:$turquoise;
				}
			}
		}
	}
}

.standout {
	background:$yellow;
	color:$grey90;
	@include box-shadow-standard();
	@include padding-top($a-scale);
}

.plans {
	@include gs-span(l,all);
	clear:left;
	@include box-shadow-standard();
	overflow:hidden;
	border-left:0;
	border-right:0;
	.plan {
		width:33.33%;
		border-left:$grey10;
		float:left;
		display:block;
		@include padding($b-scale);
		padding-top:20%;
		@include box-sizing();
		text-align:center;
		margin-top:-5px;
		.questions {
			color:$blue;
		}
		.button a{
			@extend .no-uppercase;
		}
		&.premium {
			@include box-shadow-standard();
			background: url(#{$img-path}premium.png) top center no-repeat;

		}
		&.primary {
			background: url(#{$img-path}standard.png) top center no-repeat;

		}
		&.enterprise {
			background: url(#{$img-path}enterprise.png) top center no-repeat;

		}
	}
}
.free-image {
	background: url(#{$img-path}free.png) top center no-repeat;

	width:100%;
	padding-bottom:70%;
}
.standard-image {
	background: url(#{$img-path}standard.png) top center no-repeat;

	width:100%;
	padding-bottom:70%;
}
.premium-image {
	background: url(#{$img-path}premium.png) top center no-repeat;

	width:100%;
	padding-bottom:70%;
}
.enterprise-image {
	background: url(#{$img-path}enterprise-contained.png) top center no-repeat;

	width:100%;
	padding-bottom:70%;
	@include margin-bottom($a-scale-2);
}
.full .enterprise-image {
	background: url(#{$img-path}enterprise-contained--large.png) top center no-repeat;
}

// Enhance for browsers with SVG
.svg {
	.plans .plan {
		&.premium {
			@include box-shadow-standard();
			background: url(#{$img-path}premium.svg) top center no-repeat;
			background-size: 80% auto;
		}
		&.primary {
			background: url(#{$img-path}standard.svg) top center no-repeat;
			background-size: 60% auto;
		}
		&.enterprise {
			background: url(#{$img-path}enterprise.svg) top center no-repeat;
			background-size: 100% auto;
		}
	}
	.free-image {
		background: url(#{$img-path}free.svg) top center no-repeat;
		background-size: contain;

	}
	.standard-image {
		background: url(#{$img-path}standard.svg) top center no-repeat;
		background-size: contain;

	}
	.premium-image {
		background: url(#{$img-path}premium.svg) top center no-repeat;
		background-size: contain;

	}
	.full .enterprise-image, .enterprise-image {
		background: url(#{$img-path}enterprise-contained.svg) top center no-repeat;
		background-size: contain;

	}
}
.back a{
	border:0;
}
.free-plan {
	@include box-shadow-standard();
	border-right:0;
	border-left:0;
	background:$yellow;
	color:$grey90;
	@include gs-span(l,all);
	@include padding($b-scale);

	@include box-sizing();
	position:relative;
	z-index: $middle;
	a, a:visited {
		color:$grey90;
		border-color:$grey90;
		&:hover {
			color:$link-color-hover;
			border-color:$link-color-hover;
		}
	}
	.title-holder {
		@include gs-span(l,2,3);
		@include padding-top($b-scale);
	}
	.text-holder {
		@include gs-span(l,5,11);
		@include padding-top($b-scale);
	}
	.questions {
		color:$grey80;
	}

}

.compare {
	@include gs-span(l,all);
	@include padding-top($a-scale);
	@include box-shadow-standard();
	background:$off-white;
	text-align:center;
	margin-top:-5px;
	margin-bottom:-5px;
	position:relative;
	z-index: $middle;
	border-right:0;
	border-left:0;
}
/*
.pricing-top {
	@include gs-span(l,3,10);
	clear:left;
	text-align:center;
	position:relative;
	.premium {
		background:$turquoise;
		width:33.33%;
		color:$off-white;
		position:absolute;
		bottom:0;
		@include box-shadow-standard();
		border:none;
		display:block;
		border-bottom:0;
	}
	.corporate {
		background:$grey80;
		width:33.33%;
		color:$off-white;
		float:left;
		margin-left:33.33%;
		@include box-shadow-standard();
		border:none;
		display:block;
		border-bottom:0;
		.questions .large {
			@include font-size($a-scale-2);
		}
	}
	.enterprise {
		background:$turquoise;
		width:33.33%;
		color:$off-white;
		position:absolute;
		bottom:0;
		right:0;
		@include box-shadow-standard();
		border:none;
		display:block;
		border-bottom:0;
	}
	.title {
		@include padding($a-scale);
		border-bottom: 1px solid rgba($off-white,0.3);
		h2 {
			@extend .uppercase;
			@include font-size($a-scale);
			margin-bottom:0;
		}
	}

	.price {
		@include padding($a-scale);
		p {
			margin:0;
		}
	}
	.questions {
		@include padding($a-scale);
	}
	.choose {

			display:block;
			color:$turquoise;
			background:mix($turquoise, $off-white, 20%);

			@include padding($a-scale);
			@include transition($link-transition);


	}
	a:hover, a:focus {
		color:$off-white;
		.choose {
			background:$link-color-hover;
			color:$off-white;
			@include transition($link-transition);
		}
	}

	.corporate .choose {

			color:$off-white;
			background:$turquoise;

	}



	.promo {
		color:$pink;
		p {
			margin:0;
		}
	}
}*/
.sr-only {
	display:none;
}
/*
.pricing-bottom {
	@include gs-span(l,1,10);
	clear:left;
	table {
		margin-bottom:3px;
	}
	thead {
		display:none;
	}
	caption {
		display:none;
	}
	td {
		width:26.43%;
		text-align:center;
		border-bottom:1px solid $grey10;
		@include padding($b-scale-2);
	}
	tr {
		background:none;
		border-bottom:none;
		@include padding($b-scale-2);
	}
	th {
		width:20.72%;
		text-align:right;
		text-transform:none;
		letter-spacing: normal;
		@include font-size($a-scale);
	}
	i {
		color:$turquoise;
	}

}*/

@include gs-media(l,min) {
	.plans .plan {
		@include padding-bottom($a-scale-5);
		position:relative;
		.button {
			position:absolute;
			bottom:0;
			@include left($b-scale);
			@include right($b-scale);
		}
	}

}

@include gs-media(s,max) {
	.free-trial {
		@include gs-span(s,all);
		@include gs-pad(s,padinfull);
		.icon-holder {
			@include gs-span(s,1,1);
			@include font-size($b-scale-4);
			text-align:right;
			@include padding-top($a-scale--2);
		}
		.text-holder {
			@include gs-span(s,2,6);
			@include padding-top($b-scale);
		}
		.button-holder {
			@include gs-span(s,2,4);
			clear:left;
		}
		&.super-banner {
			@include gs-span(s,all);
			.text-holder {
				@include gs-span(s,all);
			}
			.button-holder {
				@include gs-span(s,2,5);
				clear:left;
			}
			&.standard-right {
				@include gs-span(s,all);
				clear:left;
				@include margin-top(-1 * $a-scale-3);
				.text-holder {
					@include gs-span(s,all);
				}
				.button-holder {
					@include gs-span(s,2,5);
					clear:left;
				}
			}
		}

	}
	.plans {
		@include gs-span(s,all);
		.plan {
			@include gs-span(s,all);
			clear:left;
			margin-top:0;
			padding-top:60%;
		}
	}
	.free-plan {
		@include gs-span(s,all);
		.title-holder {
			@include gs-span(s,all);
			clear:left;
			text-align:center;
		}
		.text-holder {
			@include gs-span(s,all);
			clear:left;
			text-align:center;
		}
	}

}
