// Specific examples


$examples: (
  textiles, 
  mining,
  'gold',
  forestry
);

  @each $example, $map in $examples {
    .#{$example} {
      .question-step {
		background: url(#{$img-path}#{$example}-question-step.png) bottom right no-repeat;
		background-size:40% auto;
		}
		.enquiry-step {
			background: url(#{$img-path}#{$example}-enquiry-step.png) bottom right no-repeat;
			background-size:40% auto;
		}
		.suppliers-step {
			background: url(#{$img-path}#{$example}-suppliers-step.png) bottom right no-repeat;
			background-size:40% auto;
		}
		.map-step {
			background: $off-white url(#{$img-path}#{$example}-map-step.png) bottom center no-repeat;
			background-size:contain;
		}
		@include gs-media(s,max) {
			.question-step {
			background: url(#{$img-path}#{$example}-question-step--oldie.png) bottom right no-repeat;
			background-size:40% auto;
			
			}
			.enquiry-step {
				background: url(#{$img-path}#{$example}-enquiry-step--oldie.png) bottom right no-repeat;
				background-size:40% auto;
				
			}
			.suppliers-step {
				background: url(#{$img-path}#{$example}-suppliers-step--oldie.png) bottom right no-repeat;
				background-size:40% auto;
				
			}
			.map-step {
				background: $off-white url(#{$img-path}#{$example}-map-step--oldie.png) bottom center no-repeat;
				background-size:contain;
				
			}
		}
	}
	.oldie .#{$example} {
      .question-step {
		background: url(#{$img-path}#{$example}-question-step--oldie.png) bottom right no-repeat;
		
		}
		.enquiry-step {
			background: url(#{$img-path}#{$example}-enquiry-step--oldie.png) bottom right no-repeat;
			
		}
		.suppliers-step {
			background: url(#{$img-path}#{$example}-suppliers-step--oldie.png) bottom right no-repeat;
			
		}
		.map-step {
			background: $off-white url(#{$img-path}#{$example}-map-step--oldie.png) bottom center no-repeat;
			
		}
	}
}


