table {
	border-collapse:collapse;
	width:100%;
	text-align:left;
	@include margin-bottom($margin-p);
}

td, th {
		@include padding($default-padding);
		text-align:left;
}


thead th, tfoot th {
	font-weight:$base-font-weight;
	font-style:italic;
	@include font-size($size-small);
}

tbody tr {

	background:$grey5;
	border-bottom:16px solid $background-color;
	&:last-child {
		border-bottom:none;
	}


	
}

tbody th {
	font-weight:$base-font-weight;
	letter-spacing:$letter-spacing;
	text-transform:uppercase;
	@include font-size($size-small);
	.note {
		text-transform:none;
		letter-spacing: normal;
		font-style:italic;
	}
}

td.action {
	padding:0;
	overflow:hidden;
	a {
		@include padding($default-padding);
		display:block;
		background:$link-color;
		color:$off-white;
		border:0;
		text-align:center;
		@include faux-column;
		&:hover {
			background:$link-color-hover;
		}
	}
}

table.big-summary {
	tbody tr {
		background-color:$background-color;
		border-bottom:none;
		
	}
	td {
			@include font-size($b-scale-5);
			color:$grey20;
			line-height:1;
			a {
				border-bottom:none;
			}
			.unit {
				@include font-size($b-scale);
				line-height: 1;
				display:table-cell;
			}
		}
}

@media only screen and (max-width:950px) {
	table.big-summary {
		td {
			@include font-size($a-scale-4); 
		}
	}
}

@include gs-media(s,max) {
	table.big-summary {
		table, thead, tbody, th, td, tr { 
		display: block; 
		}
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;

		}
		td { 
		/* Behave  like a "row" */
		
		 border-bottom:$grey5 1px solid;
		position: relative;
		padding-left: 60%; 
		@include font-size($a-scale-3);
		&:last-child {
			border-bottom:none;
		}
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		@include top($default-padding);
		left:0;
		width: 55%; 
		padding-right: 10px; 
		
		@include font-size($size-small);
		color:$grey80;
		font-style: italic;

	}

	}
	#initiator-summary {
		td:nth-of-type(1):before { content: "Total questions asked"; }
	td:nth-of-type(2):before { content: "Tier 1 suppliers asked"; }
	td:nth-of-type(3):before { content: "Total supply chain responses"; }
	td:nth-of-type(4):before { content: "Total supply chain organisations asked"; }
	td:nth-of-type(5):before { content: "Overall response rate"; }
	

	}
	#responder-summary {
		td:nth-of-type(1):before { content: "Total enquiries received"; }
	td:nth-of-type(2):before { content: "Total enquiries responded to"; }
	td:nth-of-type(3):before { content: "Average response time"; }
	td:nth-of-type(4):before { content: "Total suppliers asked"; }
	td:nth-of-type(5):before { content: "Total customers connected to"; }
	

	}
}

