.why {
	.intro-why {
		@include gs-span(l,all);
		background:url(#{$img-path}why-intro.png) center bottom no-repeat;
		margin-bottom:0;
		@include padding-bottom($a-scale-3);

	}

	.internal-nav {
		@include gs-span(l,all);
		clear:left;
		padding:0;
		li {
			list-style:none;
			margin:0;
		}
		a {
			display:block;
			color:$off-white;

		}
	}
	.reason-section-holder {
		padding:0;
	}
	.reason-section {

		.standard-holder {
			clear:none;
		}
		.number-holder {
		@include gs-span(l,1,2);
		color:$grey40;
		text-align:right;
		@include padding-top($a-scale--4);

	}
		&:nth-child(odd){
			@include box-shadow-standard();
			border-left:none;
			border-right:none;

		}

		@include gs-span(l, all);
		position:relative;
		clear:left;
		@include padding-bottom($a-scale-4);
	}
	.reason-section-inner {
		@include padding-top($a-scale-4);
		@include gs-span(l, all);
		@include margin-bottom(-1 * $a-scale-4);
	}
	.simplicity {
		.image-holder {
			@include gs-span(l,1,7);
			height:0;
			padding-bottom:30%;
			background:url(#{$img-path}processes.svg) left top no-repeat;
			background-size:100% auto;
		}
		.s3-holder {
			@include gs-span(l,9,11);
			margin-top:7%;
		}
		.logo-holder {
			@include gs-span(l,9,9,(9,11));
			@include margin-top($a-scale-4);
		}
		.standard-intro {
			margin-top:-5%;
		}
		.speech-bubble-holder {
			@include gs-span(l,10,11,(9,11));
		}


	}
	.risk {
		background:url(#{$img-path}bars.svg) bottom center no-repeat, url(#{$img-path}report.png) bottom right no-repeat;
		background-size:100% auto, 30% auto;
		margin-bottom:0;
		padding-bottom:15%;
	}

	.visibility {
		background:url(#{$img-path}layers.png) right 68px no-repeat;
		background-size:30% auto;
	}

	.suppliers {
		background:url(#{$img-path}supplier-graphic.png) right 20% no-repeat;
		background-size:30% auto;




	}
	/*.answers {
		h3 {
			@extend .uppercase;
			@include font-size($a-scale);
		}
		.not-s3-fig, .using-s3-fig {
			@include gs-span(l,all);
			clear:left;
			text-align:center;
		}
		.explanation {

		}
	}*/

}

ul.large-ticks {
	padding:0;
	li {
		list-style:none;
		@include margin-top($a-scale-3);
		h3, h2 {
			color:$success-color;
			position:relative;
			&:before {
				content: "\f058";
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				@include font-size($b-scale-4);
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				@include left(-1 * $a-scale-4);
				@include top(-1 * $a-scale);
				position:absolute;
			}
		}
	}
}

.speech-bubble {
	/* Method adjusted from  http://nicolasgallagher.com/pure-css-speech-bubbles/demo/ */
	@include padding($a-scale);
	border: 1px solid $grey10;
	@include border-radius(10px);
	position:relative;
	@include font-size($b-scale);
	&:after {
		content: "";
  position: absolute;
  z-index: 2;
  bottom: -30px;
  right: 70%;
  width: 20px;
  height: 31px;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: $grey10;
  margin-right: 20px;
  background: transparent;
  -webkit-border-bottom-right-radius: 40px 50px;
  -moz-border-radius-bottomright: 40px 50px;
  border-bottom-right-radius: 40px 50px;
  display: block;
	}
	&:before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -30px;
  right: 70%;
  width: 50px;
  height: 30px;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: $grey10;
  margin-right: -10px;
  background: transparent;
  -webkit-border-bottom-right-radius: 80px 50px;
  -moz-border-radius-bottomright: 80px 50px;
  border-bottom-right-radius: 80px 50px;
  display: block;

}
p {
  	margin-bottom:0;

  }

}
.speech-bubble > :first-child:after {
  content:"";
  position:absolute;
  z-index:1;
  bottom:-10px;
  right:70%;
  width:30px;
  height:15px;
  margin-right:-10px;
  background:$off-white;
}


///////// Small screen styles

@include gs-media(s,max) {
	.why {
		.reason-section {

			.number-holder {
				@include gs-span(s,all);
				@include gs-pad(s,padinfull);
				text-align:left;
			}
			.standard-holder {
				clear:left;
			}
		}
		.reason-section-inner {
			@include padding-top($a-scale-2);
		}

		.simplicity {
			.image-holder {
				@include gs-span(s,1,5);
				clear:left;
				padding-bottom:50%;
			}
			.s3-holder {
				@include gs-span(s,3,6);
				clear:left;
				margin-top:-20%;
				@include padding-bottom($a-scale-2);
			}
			.logo-holder {
				@include gs-span(l,3,3,(3,6));
				@include margin-top($a-scale-4);
			}
			.standard-intro {
				margin-top:0;
			}
			.speech-bubble-holder {
				@include gs-span(s,4,6,(3,6));
				@include gs-pad(s,padinfull);
			}
		}

		.risk {
			background:url(#{$img-path}bars.svg) bottom center no-repeat, url(#{$img-path}report.png) bottom center no-repeat;
			background-size: 100% auto, 70% auto;
			padding-bottom:70%;
			margin-bottom:0;
		}

		.visibility {
			background:none;
			.standard-intro {
				background:url(#{$img-path}layers.png) bottom center no-repeat;
				background-size:70% auto;
				padding-bottom:80%;
				margin-bottom:none;
			}


		}
		.suppliers {
			background:none;


		}


	}
	ul.large-ticks {
		li {
			h3, h2 {
				@include margin-left($a-scale-2);
				&:before {
					content: "\f058";
					display: inline-block;
					font: normal normal normal 14px/1 FontAwesome;
					@include font-size($b-scale-2);
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					@include left(-1 * $a-scale-2);
					top:0;
					position:absolute;
				}
			}
		}

	}
}


/////// IE8 //////////
.oldie {
	.why {
		.reason-section {
			border-top:$grey10 1px solid;

		}
		.visibility {

				background:url(#{$img-path}layers-small.png) right 48px no-repeat;
		}
		.simplicity {
			.image-holder {
				background:url(#{$img-path}processes.png) left top no-repeat;
			}
		}
		.risk {
			background:url(#{$img-path}report-small.png) bottom right no-repeat;
		}
		.suppliers {
			background:url(#{$img-path}supplier-graphic-small.png) right 20% no-repeat;
		}
	}
	.speech-bubble {
		&:before, &:after {
			display:none;
		}

	}
	.speech-bubble > :first-child:after {
		display:none;
	}
}
