<html>
  <head>
    <title>Test Rig</title>
  </head>

  <body>
    <heading>
      <nav>
        <ul class="nav-links nav-links--primary">
          <li><a href="/">Index</a></li>
          <li><a href="/data">Datasets</a></li>
          <li><a href="/algo">Algorithms</a></li>
        </ul>
        {% block nav_links__secondary %}{% endblock %}
      </nav>
    </heading>
    <article>
      <h1>Test Rig{% if title is defined %}: {{ title }}{% endif %}</h1>
      <div id="content">{% block content %}{% if content is defined %}
        {{ content }}
      {% endif %}{% endblock %}</div>
    </article>
  </body>
</html>
