<div class="text-holder-a">
	
	<p class="large">Product supply chains are often vast networks of evolving and changing supplier connections. </p>

</div>

<div class="text-holder-b">

	<p>Not knowing where things come from at any point in time, or who to ask for a trusted response carries risk.</p>
	<p>String3 is a risk management tool that saves you time asking questions about where the products you sell come from.</p>

</div>

<b class="background-helper"></b>

<div class="text-holder-c">

	<p>String3 links together the suppliers involved in making and moving your product whilst protecting both your identity and the identities of those supplier connections to get you the answers you need. Questions and responses traverse the product network via String3 technology, providing you with better and more accurate data.</p>
	
</div>