---
layout: default
---
<div class="issue-top-section {{ page.class }}">
  <div class="inner">
    <h1>{{ page.title }}</h1>
    <p class="strap">{{ page.strap }}</p>
    <a class="arrows-down--with-text--on-dark" href="#issue">Find out more</a>
  </div><!--/inner-->
</div>
<article class="article">
  <div class="issue" id="issue">
    <div class="inner">
      <p class="large">{{ page.issueIntro }}</p>
      {{ page.issueBody | markdownify }}
      <a class="arrows-down" href="#solution">How String3 can help</a>
    </div><!--/inner-->
  </div>
  <div class="solution" id="solution">
    <div class="inner">
    <h2>How can String3 help?</h2>
    <p class="large">{{ page.solutionIntro }}</p>
    {{ page.solutionBody | markdownify }}
    <div class="register">
      <div class="register-button">
        <p class="faux-button commit">
          <a href="https://app.getstring3.com/account/register/">
            Register for free
          </a>
        </p>
      </div>
      <div class="register-text">
        <p>You can use String3 to send 12 questions to your supply chain per year, completely free</p>
      </div>
    </div>
    </div><!--/inner-->
  </div>
</article>
