body {
	background:$background-color;
}

img, object {
	width:100%;
}

img.round {
	border-radius: 50%;
}



.wrapper {
	@include gs-span(l, all);
}

.main {
	@include gs-span(l,all);
	@include padding-top($a-scale-5);
}

.footer {
	@include gs-span(l,all);
	clear:both;

}

.full {
	@include gs-span(l,all);
	clear:both;
}

.padded {
	@include gs-pad(l,padin);
}

.standard {
	@include gs-span(l,3,8);
	@include margin-bottom($a-scale-4);
	clear:left;
	.register-button {
		@include gs-span(l,3,6,(3,8));
	}
}

.standard-full {
	@include gs-span(l,3,11);
	clear:left;
}

.standard-wide {
	@include gs-span(l,3,10);
	clear:left;
}

.standard-intro, .standard-holder {
	@include gs-span(l,3,8);
	clear:left;

}

.standard-intro {
	@include margin-bottom($a-scale-3);
}

.small-left {
	@include gs-span(l,3,5);
	clear:left;
}
.v-small-left {
	@include gs-span(l,3,4);
	clear:left;
}

.mid-left {
	@include gs-span(l,3,7);
	clear:left;
}

.standard-right {
	@include gs-span(l,6,10);
	@include margin-bottom($a-scale-3);
}

.small-right {
	@include gs-span(l,10,11);
}
.v-small-right {
	@include gs-span(l,9,10);
}

.full-right {
	@include gs-span(l,5,12);
	clear:left;
}

// Margins

.margin--footer {
	@include margin-bottom($a-scale-4);
}

.extra-margin-bottom {
	@include margin-bottom($a-scale-3);
}

.more-margin-bottom {
	@include margin-bottom($a-scale-4);
}

.mo-margin-bottom {
	margin-bottom:0;
}

// Helpers
.clearfix:before, .clearfix:after {
content: " ";
display: table;
height: 0;
    clear: both;
    visibility: hidden;
}

.clear-left {
	clear:left;
}

.clear-right {
	clear:right;
}

.clear-none {
	clear:none;
}


//////// SMALL SCREENS /////////

@include gs-media(s, max) {
	.wrapper, .main, .footer, .full {
		@include gs-span(s,all);
		clear:left;
	}
	.standard, .standard-full, .standard-wide, .standard-intro, .standard-holder, .small-left, .standard-right, .small-right, .full-right, .mid-left {
		@include gs-span(s,all);
		@include gs-pad(s, padinfull);
		clear:left;
		.register-button {
			@include gs-span(s,all);
		}
	}
	.v-small-left, .v-small-right {
		@include gs-span(s,3,4);

		clear:left;
	}
	.padded {
		@include gs-pad(s,padin);
	}

}


/////// IE8 /////////
.oldie {
	body {
		background:$subtle-color;
	}

	.wrapper {
		position:relative;
		margin-left:auto;
		margin-right:auto;
		width:1024px;
		float:none;
	}
	.wrapper__inner {
		@include gs-span(l,all,all,false, ie);
		background:$background-color;
		position:relative;
		z-index:$below;

	}
}
