---
layout: default
title:  "Which materials will String3 work for?"
slug: materials
nextText: "Will my data be safe in String3?"
nextLink: "/security"
---

<div class="standard-intro">
	<h1>{{ page.title }}</h1>
	<p class="large">String3 has the scope to work for any industry and any material.</p>
	<p>The materials and questions we have built processes for so far are listed below. If what you’re looking for isn’t there, <a href="/contact">get in touch with us</a> to talk about building a process that works for you.</p>
</div>
<div class="materials">
	<ul>
{% assign materials = site.materials | sort: 'title' %}
{% for material in materials %}
      <li>
      	<span class="material-name">{{ material.title }}</span>
      	<span class="material-information">{{ material.content }}</span>
      </li>
{% endfor %}
</div>
<div class="standard register">
	{% capture ctamaterials %}{% include content/register-ctas/materials.markdown %}{% endcapture %}
			{{ ctamaterials | markdownify }}
</div>
